#marg {
    margin-top: 100px;
}

#pic {
    background-image: url("images/popcorn.jpg");
    z-index: -10;
    background-repeat: no-repeat;
    background-position: center;

   }

   #coverimg{
    z-index: -9;
    background: rgba(59, 56, 56, 0.349); 
    height: 100%;
    width: 100%;
   }
   
   #picReg {
    background-image: url("images/cinema.jpg");
    z-index: -10;
    background-repeat: no-repeat;
    background-position: center;

   }

   #coverimgReg{
    z-index: -9;
    background: rgba(59, 56, 56, 0.349); 
    height: 100%;
    width: 100%;
   }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

#buttonSignUp{
  background-color: #FF7591;
}

#registerBtn {
  background-color: #FF7591;
  color: black;
  margin: 5px auto;
  width: 200px;
}

#loginBtn {
  color: black;
  margin: 10px auto;
  width: 200px;
}

#cancelbtn a{
 color: white;
 text-decoration: none;
}

#signin {
  background: #FF7591;
  opacity: 0.8;
}

.regform{
  margin-top: 100px;
}

#regsignin {
background: #FF7591;
  opacity: 0.8;
}

#new {
  margin-top: 50px;
  margin-bottom: 10px;
}

#table {
  margin-bottom: 20px;
}